*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

header {
    background-color: #1f2937;
    padding: 24px 100px 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

nav a {
    text-decoration: none;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}

.hero {
    display: flex;
    margin: 32px 0;
}

.hero .main * {
    margin: 8px 0;
}

.hero .main {
    margin-right: 8px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p,
nav a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    width: 500px;
    height: auto;
}

.cta-btn {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 5px;
    cursor: pointer;
}



#info {
    padding: 60px 140px 60px;
}

#info h2 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 36px;
}

#info img {
    width: 100%;
}

#info .random {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 60px 140px 60px;
}

.testimonial .quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    margin: 16px 0 4px;
}

.testimonial .person {
    float: right;
    font-weight: 900;
}

.cta-section {
    padding: 60px 100px;
}

.cta-section .cta-btn {
    border: 1px solid #e5e7eb;
}

.cta {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 32px 48px;
    align-items: center;
    border-radius: 5px;
    color: #e5e7eb;
}



footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 16px 100px;
}