/* CSS resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* combining selectors */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.hero__cta-btn, .call-to-action__btn {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 5px;
    cursor: pointer;
}

/* Header section */

.header {
    background-color: #1f2937;
    padding: 24px 100px 60px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
}

.header__menu-link {
    text-decoration: none;
    margin-left: 15px;
}

.header__menu {
    list-style: none;
    display: flex;
}

.hero {
    display: flex;
    margin: 80px 0;
}

.hero__main * {
    margin: 8px 0;
}

.hero__main {
    margin-right: 8px;
    align-self: center;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero__description,
.header__menu-link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero__photo img {
    width: 500px;
    height: auto;
}


/* Info section */
.info {
    padding: 80px 100px 80px;
}

.info__title {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 36px;
}

.info__desc {
    text-align: center;
    flex: 1;
}

.info__image {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}

.info__random {
    display: flex;
    gap: 16px;
    margin: 16px 0;
    justify-content: center;
    flex-wrap: wrap;
}



/* Testimonial section */
.testimonial {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.testimonial__quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    margin: 16px 0 4px;
}

.testimonial__person {
    float: right;
    font-weight: 900;
}


/* cta-section */
.call-to-action {
    padding: 100px 200px;
}

.call-to-action__btn--white-border {
    border: 1px solid #e5e7eb;
}

.call-to-action__container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 48px 64px;
    align-items: center;
    border-radius: 5px;
    color: #e5e7eb;
}


/* Footer */
.footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 24px 100px;
}